*{margin:0;
 padding:0;
 box-sizing:border-box;
}

 .active{
    display:none;
 }
.container{
   width: 90%;
   padding-left: 50px;
}
.accord{
   text-align: center;
   padding-bottom: 50px;
   border: 5px solid rgb(161, 236, 76);
}
.accord h1{
   color: rgb(208, 86, 219);
}
.accord p{
   color: rgb(253, 42, 53);
}
.para{
   display: none;
}